body{
    font-family: sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.jumbotron{
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    text-shadow: 0 0 3px black;
}

.jumbotron a{
    color: white;
    text-decoration: none;
}

.jumbotron a:hover{
    color: white;
    text-decoration: none;
}
/* Eigen Google font koppelen */
.jumbotron, h1, h2, h3, h4, .navbar-brand{
    font-family: 'Roboto', sans-serif;
}
/* Widget in footer */
.widget-footer{
    font-size: .8em;
}

.widget-footer a{
    color: white;
}

.widget-footer a:hover{
    color: white;
    text-decoration: none;
}

.widget-footer-titel{
    font-size: 1.2rem;
}

/* Widgets in aside */
.screen-reader-text{
    display: none;
}

.widget-aside{
    padding: 2em 1em 2em 1em;
    border-bottom: 1px solid black;
}

.widget-titel{
    font-size: .7;
}

/* De meta data van de posts */
.post-categories{
    list-style-type: none;
}